<div class="gallery__row gallery__row--fifty-fifty">
  <figure class="gallery__item">
    {# <img class="gallery__image" srcset="{{ Image(module.first_image).srcset }}" sizes="(min-width: 768px) 50vw, 100vw" alt="{{ module.first_image.alt }}"> #}
    <img class="gallery__image lazy" data-src="{{ Image(module.first_image).src }}" alt="{{ module.first_image.alt }}">
  </figure>
  <figure class="gallery__item">
    {# <img class="gallery__image" srcset="{{ Image(module.second_image).srcset }}" sizes="(min-width: 768px) 50vw, 100vw" alt="{{ module.second_image.alt }}"> #}
    <img class="gallery__image lazy" data-src="{{ Image(module.second_image).src }}" alt="{{ module.second_image.alt }}">
  </figure>
</div>