<figure class="project">
  <a href="{{post.link}}" class="project__link">
    {# <img srcset="{{post.thumbnail.src|resize(660, 660)}}, {{post.thumbnail.src|resize(660, 660)|retina(2)}} 2x" alt="{{post.thumbnail.alt}}" class="project__image"> #}
    <img alt="{{post.thumbnail.alt}}"  data-src="{{ post.thumbnail.src|resize(660, 660) }}" class="project__image lazy">
    <figcaption class="project__name">{{ post.title }}</figcaption>
  </a>
</figure>
