<footer class="footer">
  <div class="footer__inner">
    <div class="footer__logos">
      <a href="{{ options.social_links.instagram }}" class="footer__social-links"><svg class="icon icon--insta"><title>insta</title><use xlink:href="#insta"></use></svg></a>
      <a href="@mailto:{{ options.social_links.email }}" class="footer__social-links"><svg class="icon icon--email"><title>email</title><use xlink:href="#email"></use></svg></a>
      <a href="tel:{{ options.social_links.phone }}" class="footer__social-links"><svg class="icon icon--phone"><title>phone</title><use xlink:href="#phone"></use></svg></a>
    </div>
    <p class="footer__copy">{{ options.address }}</p>
    <p class="footer__copy">&copy;{{"now"|date('Y')}} {{ options.copyright }}</p>
  </div>
</footer>