{% extends "base.twig" %}

{% block content %}
  <article class="post">
    <div class="post__inner">
      <section class="post__hero">
        <img class="post__hero-picture" srcset="{{ Image(post.hero).srcset }}" alt="{{ post.alt }}">
      </section>
      <section class="post__content">
        <div class="post__headline">
          <h2 class="post__title">{{ post.title }}</h2>
          <p class="post__location">
            <em>{{ post.location }}</em>
          </p>
        </div>
        <div class="post__blurb">
          {{ post.content }}
        </div>
      </section>
  
      <section class="post__gallery">
        <div class="gallery__inner">
          <div class="gallery">

            {% for module in post.get_field('project_gallery') %}
              {% include ['components/'~module.acf_fc_layout~'.twig'] ignore missing %}
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </article>
{% endblock %}